<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {text-align: center;
        }
    </style>
</head>
<body>
    <img src="https://img2.thuthuatphanmem.vn/uploads/2018/12/31/anh-dong-de-thuong-dep-nhat_112053763.gif" alt="" height="300px">
    <h2>Tài Khoản của bạn đã có,nhập lại đi</h2>
    <h1><a href="/signin">Come back </a></h1>
</body>
</html>