<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    img{
        position: relative;
        top:30px;
        left:500px;
    }
    h1{
        position: relative;
        top:50px;
        left:500px;
    }
    body{
        width:600px;
    }
</style>
<body>
    <img src="../static/img/0eb0ca12bbd3c4794ebaae5a9b75fde3.gif" alt="" height="400px" >
    <h1>Cảm ơn vì sự góp ý của bạn <3 </h1>
</body>
</html>