<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    img{
        position: relative;
        top:30px;
        left:500px;
    }
    h1{
        position: relative;
        top:60px;
        left:400px;
        width:600px
    }
    a{
        position: relative;
        top:50px;
        left:630px;
    }
</style>
<body>
    <img src="../static/img/7950549b46fe15a761e8bd5b80c4031f.gif" alt="">
    <h1>Chúc mừng Bạn đã đăng kí thành công <3</h1>
    <a href="/login">GO TO LOGIN</a>
</body>
</html>